header.header
  .header__wrapper
    .header__column
      a(href=routes.home)
        i.fab.fa-youtube
    .header__column
      form(action=routes.search, method="GET")
        input(type="text", placeholder="검색어를 입력하세요", name="term")
    .header__column
      ul
        if !loggedUser
          li
            a(href=routes.join) 회원가입
          li
            a(href=routes.login) 로그인
        else
          li
            a(href=`/videos${routes.upload}`)
              i.fas.fa-video
          li
            //- a(href=routes.userDetail(user.id)) Profile
            a(href=routes.me)
              i.fas.fa-user-circle
          li
            a(href=routes.logout) 
              i.fas.fa-sign-out-alt